{% extends "members/base.html" %}

{% block title %}
Change password
{% endblock %}

{% block page_name %}
<h1>Change password</h1>
{% endblock %}

{% block body %}
{% if validlink %}
<form method="post">
    {% csrf_token %}
    <div class="col-md-4">
        {{ form.as_p }}
    </div>

    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% else %}
<p>
    The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset.
</p>
{% endif %}
{% endblock %}