{% extends "members/base.html" %}
{% load static %}

{% block body %}
<h1>Signup</h1>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-row align-items-center" id="inputFields">
        {% for field in form %}
        <div class="col-auto">
            <div class="fieldWrapper">
                {{ field.errors }}
                <label class="form-label" for="{{ field.id_for_label }}">{{ field.label|title }}</label>
                {{ field }}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </div>
</form>
{% endblock %}