{% extends "gallery/base.html" %}

{% block title %}
Gallery
{% endblock %}

{% block page_name %}
<h1>Gallery</h1>
{% endblock %}

{% block body %}
{% for image in object_list %}
<img src="{{ image.image }}" class="rounded mx-auto d-block">

<div id="images" class="mx-auto">
    <div id="likes" class="text-center">{{ image.like_set.count }} <span class=emoji>&#x1F44D;</span></div>
    <ul id="comments" class="list-group list-group-flush">
        {% for comment in image.comment_set.all %}
        <li class="list-group-item">
            {{ comment.comment }}
            <p class="mb-1">
                <span class="badge bg-primary">{{ comment.user }}</span>
                <span class="badge bg-success rounded-pill">{{ comment.date_created }}</span>
            </p>
        </li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <div class="col-md-4">
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {{ form.comment.errors }}
                <label for="{{ form.comment.id_for_label }}">{{ form.comment.label|title }}:</label>
                {{ form.comment }}
            </div>
        </div>

        <div class="col-auto">
            <input type="hidden" name="image" id="id_image" value="{{ image.id }}">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <!-- Add comment form box and add like -->
    {% endif %}

    {% empty %}
    <p>No images yet.</p>
    {% endfor %}
</div>
{% endblock %}