{% extends "gallery/base.html" %}

{% block title %}
Gallery
{% endblock %}

{% block page_name %}
<h1>Gallery</h1>
{% endblock %}

{% block body %}
{% for image in object_list %}
<a name="{{ image.id }}"></a>
<img src="{{ image.image }}" class="rounded mx-auto d-block">

<div id="images" class="mx-auto">

    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="image" id="id_image" value="{{ image.id }}">

        <div id="likes" class="col-auto text-center">
            <button type="submit" name="button" class="btn" value="like">{{ image.like_set.count }} <span
                    class=emoji>&#x1F44D;</span></button>
        </div>

        <div class="col-auto">
            <h4>Leave a comment</h4>
            {{ form.non_field_errors }}
            <div class="fieldWrapper input-group">
                {{ form.comment.errors }}
                {{ form.comment }}
                <button type="comment" name="button" class="btn btn-outline-primary" value="comment">SEND</button>
            </div>
        </div>

        <div class="col-auto">
        </div>
    </form>

    {% else %}
    <div id="likes" class="text-center">{{ image.like_set.count }} <span class=emoji>&#x1F44D;</span></div>
    {% endif %}

    <ul id="comments" class="list-group list-group-flush">
        <button name="toggle-comments" type="button" class="btn btn-outline-primary">Show Comments</button>
        <div class="comments">
            {% for comment in image.comment_set.all reversed %}
            <li class="list-group-item">
                {{ comment.comment }}
                <p class="mb-1">
                    <span class="badge bg-primary">{{ comment.user }}</span>
                    <span class="badge bg-success rounded-pill">{{ comment.date_created }}</span>
                </p>
            </li>
            {% endfor %}
        </div>
    </ul>

    {% empty %}
    <p>No images yet.</p>
    {% endfor %}
</div>

<nav aria-label="Gallery pagination">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
        <li class="page-item active"><a class="page-link" href="#">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </a></li>
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}