a {
    text-decoration: none;
}

img[name="overlay"] {
    max-width: 150px;
}

img[name="thumbnail"] {
    max-width: 80%;
}

.sidebar {
    width: 450px;
}

/* Webcam */
#video {
    width: 100%;
    max-width: 500px;
}

#canvas {
    width: 100%;
    max-width: 500px;
}

/* Buttons */
#snapshot {
    width: 100%;
    max-width: 500px;
}

#upload {
    margin-bottom: 25px;
    width: 100%;
    max-width: 500px;
}