{% extends "editing/base.html" %}

{% block title %}
Editing
{% endblock %}

{% block page_name %}
<h1>Editing</h1>
{% endblock %}

{% block body %}
<div class="d-flex">
    <div name="main" class="container">
        <div id="webcam">
            <h5>Take a picture</h5>
            <video autoplay="true" id="video"></video>
            <button id="snapshot" type="submit" class="btn btn-outline-success">&#128248;</button>
        </div>
        <br>

        <form id="upload_form" method="post" enctype="multipart/form-data">
            {{ form.non_field_errors }}
            <h5>Upload a picture</h5>
            {% csrf_token %}
            {{ form.image.errors }}
            {{ form.image_string.errors }}
            {{ form.image }}
            {{ form.image_string }}
        </form>
        <br>

        <div id="overlays">
            <h4>Choose an overlay</h4>
            <ul class="list-inline">
                {% for overlay in overlays %}
                <li class="list-inline-item">
                    <a name="overlays" id="{{ overlay.id }}">
                        <img name="overlay" src="{{ overlay.image }}" class="rounded mx-auto d-inline p-3">
                    </a>

                    <br>
                    {% empty %}
                    <p>No overlays yet.</p>
                    {% endfor %}
                </li>
            </ul>
        </div>

        <h5>Preview</h5>
        <canvas id="canvas"></canvas>
        <button id="upload" type="submit" class="btn btn-outline-primary" value="upload"
            form="upload_form">Submit</button>
    </div>

    <div class="sidebar d-inline-flex flex-column align-items-stretch">
        <a class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
            <svg class="bi me-2" width="30" height="24">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <h5 class="fs-5">Choose a picture</h5>
        </a>
        <div class="list-group list-group-flush border-bottom scrollarea">
            {% for image in images %}
            <div class="list-group-item list-group-item-action py-3 lh-tight">
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <a name="thumbnails" id="{{ image.id }}">
                        <img name="thumbnail" src="{{ image.thumbnail }}" class="rounded mx-auto d-block">
                    </a>
                    <a href="{% url 'delete_image' image.id %}"
                        onclick="return confirm('Are you sure you want to delete this image?');">
                        <small name="delete-thumbnail" class="text-muted">&#128465;</small>
                    </a>
                </div>
            </div>
            {% empty %}
            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">No images yet</strong>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}