img {
    width: 100%;
}

#images {
    max-width: 700px;
    padding-top: 10px;
}

#likes {
    padding-top: 15px;
}

/* ul */
#comments {
    padding-bottom: 70px;
}

/* div */
.comments {
    display: none;
}
