img {
    width: 70%;
    max-width: 700px;
}

#images {
    width: 700px;
    padding-top: 10px;
}

#likes {
    padding-bottom: 15px;
}

/* ul */
#comments {
    padding-bottom: 30px;
}

/* div */
.comments {
    display: none;
}
